<footer class="footer">
    <div class="container text-center">
      <a class="cc-facebook btn btn-link" href="https://www.facebook.com/login/" target="_blank">
        <i class="fa fa-facebook fa-2x " aria-hidden="true"></i>
      </a>
      <a class="cc-instagram btn btn-link" href="https://www.instagram.com/bsp21916/" target="_blank">
        <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
      </a>
      <a class="btn btn-default btn-round btn-lg btn-icon"
      href="https://www.linkedin.com/in/sripathi-bachu-942a95195/" target="_blank" >
      <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
    </a>
    </div>
  </footer>